:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  height: 100%;
}
html {
  background: #cce2ff;
}
#root {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 62px repeat(9, 1fr);
}
header {
  grid-column: 1 / -1;
  padding: 12px;
  background: #3f51b5;
  color: white;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 2px 5px 0 rgba(34, 36, 38, 0.15),
    0 2px 18px 0 rgba(34, 36, 38, 0.17);
}
header > div:first-child > div:nth-child(2) {
  font-size: 1.4rem;
}

header > div:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 14%;
}
main {
  grid-column: 3 / -2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > div {
  width: 100%;
  max-width: 1000px;
  margin: 2em auto;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 0.28571429rem;
}
.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}
.title:hover {
  background-color: rgba(34, 36, 38, 0.05);
}
.welcome {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 1em auto;
  padding: 1em;
  box-shadow: inset 0 0 0 1px rgba(34, 36, 38, 0.22), 0 0 0 0 transparent;
  border-radius: 0.28571429rem;
  color: rgba(0, 0, 0, 0.87);
  background: #f8f8f9;
}
.welcome > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1.7em;
}
.welcome > div:nth-child(2) div {
  font-size: 1.15rem;
  font-weight: bold;
}
.widgets {
  border: 1px solid rgba(34, 36, 38, 0.22);
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
}
.widgets > div:first-child {
  width: 40%;
}
.widgets > div:nth-child(2) {
  width: 60%;
}
h3 {
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
}
.section_header,
h3 {
  cursor: pointer;
}
.expense_transaction { 
  color: red
}
.income_transaction {
  color: green;
}
.section_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account_widget {
  display: flex;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
  flex-direction: column;
}
.cash_account,
.bank_account,
.credit_account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0.75em;
  background: #f3f3f3;
  cursor: pointer;
}
.cash_account:hover,
.bank_account:hover,
.credit_account:hover {
  background: #e0e1e2;
}
.cash_account {
  border-bottom: 1px solid #d4d4d5;
}
.bank_account {
  border-bottom: 1px solid #d4d4d5;
  border-top: 1px solid #d4d4d5;
}
.transaction_type {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d4d4d5;
  justify-content: space-around;
  padding: 1em 0.75em;
}
.expense {
  padding: 1rem;
}
.expense_form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.expense_form > div:first-child,
.expense_form > div:nth-child(2),
.expense_form > div:first-child > div {
  display: flex;
  flex-direction: row;
}
.expense_form > div:first-child > div:first-child, .expense_form >div:nth-child(2) > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  text-align: left;
}
.expense_form > div:first-child > div {
  justify-content: space-between;
  align-items: center;
}
.expense_form > div:first-child > div > label {
  flex: 1;
  margin-right: 1em;
  font-size: 1rem;
}
.transaction_widget {
  display: flex;
  flex-direction: column;
  border: 1px solid #d4d4d5;
  border-radius: 0.28571429rem;
}
input, select {
  border: 1px solid rgba(34,36,38,.15);
  font-size: 1em;
  box-shadow: inset 0 0 0 0 transparent;
  background: #fff;
  border-radius: .28571429rem;
  padding: .67857143em 1em;
}
.expense_button {
  background: #3f51b5;
  color: #fff;
}
nav {
  grid-column: 1;
  grid-row: 2 / 11;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 1rem;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}
nav > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
header,
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}
body {
  margin: 0;
}
.section_body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid rgba(34, 36, 38, 0.22);
  border-radius: 0.28571429rem;
  padding: 1em;
}
.section_body>div>div {
  gap: 1rem;
}
.section_body>div, .section_body>div>div{
  display: flex;
}
.section_body>div {
  justify-content: space-between;
}
.pageCont {
  grid-column: 1/ 11;
  grid-row: 1 / 11;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageCont > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.pageCont>div>form {
  display: flex;
  flex-direction: column;
}

button {
  border-radius: 0.28571429rem;
  border: 1px solid transparent;
  padding: 11px 30px 11px 30px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  outline: none;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: background 0.25s;
}
button:hover {
  background: #c0c1c2;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background: #e0e1e2 none;
  }
}
